.container-box {
  :global {
    .login-form-title {
      &_item {
        cursor: pointer;
        &:hover {
          color: #1890ff;
        }
      }
      &_item-actived {
        color: #1890ff;
      }
    }
    .sei-qrcode-wrapper {
      iframe {
        width: 100% !important;
        height: 300px;
        border: none;
      }
    }
    .login-from-wrapper {
      .ant-row.ant-form-item {
        height: auto;
        margin-bottom: 12px;
      }
      .login-form-button {
        width: 100%;
      }
    }
  }
}
