<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title><%= context.title %></title>
    <link rel="icon" href="<%= context.publicPath %>favicon.png" type="image/x-icon" />
    <!-- <script src="http://rescdn.qqmail.com/node/ww/wwopenmng/js/sso/wwLogin-1.0.0.js"></script> -->
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root-master"></div>
  </body>
</html>
