@import url('../../vars.less');

@trigger-hover-bg: rgba(0, 0, 0, 0.025);

.header-layout {
  position: relative;
  height: 100%;
  line-height: @center-header-height;
  :global {
    .trigger {
      display: inline-block;
      height: 100%;
      padding: 0 15px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s, padding 0s;
      &:hover {
        background: @trigger-hover-bg;
      }
    }
    .header-layout-right {
      float: right;
      overflow: hidden;
      height: 100%;
      .action {
        display: inline-block;
        height: 100%;
        padding: 0 12px;
        cursor: pointer;
        transition: all 0.3s;
        > i {
          vertical-align: middle;
        }
        &:hover {
          background: @trigger-hover-bg;
        }
        &:global(.opened) {
          background: @trigger-hover-bg;
        }
        .username {
          margin-left: 5px;
          vertical-align: middle;
        }
      }
      .account {
        .avatar {
          margin-right: 8px;
          vertical-align: top;
          background: rgba(255, 255, 255, 0.85);
        }
      }
    }
  };
}
