@import url('../../vars.less');

.nav-left-wrapper {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  :global {
    .layout-logo {
      height: @center-header-height;
      overflow: hidden;
      line-height: @center-header-height;
      text-align: center;
      img {
        height: 36px;
      }
    }
    .layout-Menu {
      height: calc(100% - 56px);
      overflow: auto;
    }
    .ant-menu-inline {
      .ant-menu-item,
      .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
      .ant-menu-item-group
        > .ant-menu-item-group-list
        > .ant-menu-submenu
        > .ant-menu-submenu-title,
      .ant-menu-submenu > .ant-menu-submenu-title {
        > a {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .ant-menu-inline-collapsed {
      width: @sidebar-collapsed-width;
      .ant-menu-item,
      .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
      .ant-menu-item-group
        > .ant-menu-item-group-list
        > .ant-menu-submenu
        > .ant-menu-submenu-title,
      .ant-menu-submenu > .ant-menu-submenu-title {
        padding: 0 10px !important;
        text-align: center;
      }
    }
  }
  &.nav-left-wrapper-collapsed {
    :global {
      .layout-logo {
        img {
          width: 36px;
        }
      }
    }
  }
}
