.login-wrapper {
  height: calc(100vh);
  overflow: auto;
  background: url(../assets/login_background@2x.png) 0 0 no-repeat;
  background-size: cover;
  :global {
    .header-wrapper {
      .lang-wrapper {
        float: right;
        margin-top: 10px;
        margin-right: 40px;
        color: lightblue;
        font-size: 20px;
        &:hover {
          color: #77a5ff;
        }
      }
      .logo {
        position: relative;
        float: left;
        margin-top: 46px;
        margin-left: 114px;
        img {
          width: 267px;
          height: 37px;
        }
      }
    }
    .content-wrapper {
      position: relative;
      top: 40px;
      right: 80px;
      z-index: 5;
      min-height: 475px;
      margin: 10px 0 20px;

      .login-form {
        position: fixed;
        top: 50%;
        right: 100px;
        z-index: 4;
        width: 337px;
        height: 323px;
        margin-top: -150px;
        padding: 20px 40px;
        overflow: hidden;
        background: hsla(0, 0%, 100%, 1);
        .login-form-title {
          color: grey;
          font-weight: 700;
          font-size: 20px;
          line-height: 70px;
          text-align: center;
        }
        .ant-row.ant-form-item {
          height: auto;
          margin-bottom: 12px;
        }
      }
    }
  }
}
