.login-box {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  text-align: center;
  background-color: transparent;
  :global {
    .form-box {
      position: relative;
      margin-top: 8%;
      overflow: hidden;
      .logo {
        position: relative;
        bottom: 4px;
        img {
          width: 116px;
          height: 64px;
          margin: 0 auto;
        }
      }
    }
  }
}
