.login-box {
  width: 100%;
  background-color: transparent;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  :global {
    .form-box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .logo {
        position: relative;
        right: 64px;
        bottom: 4px;
        img {
          height: 64px;
          width: 116px;
          margin: 0 auto;
        }
      }
    }
  }
}
