@sidebar-width: 200px;
@sidebar-collapsed-width: 50px;
@center-header-height: 56px;
@base-bg-color: rgba(245, 245, 245, 1);
@center-bg-color: rgba(255, 255, 255, 1);
@sidebar-bg-color: rgba(54, 71, 96, 1);
